/* .hero-section{
    flex-direction: column;
} */
.hero-section .h1-container{
    width: 400px;
    margin-right: 250px;
}
.hero-section .h1-container h1{
    font-size: var(--x-large);
}
.hero-section .h1-container p{
    font-size: var(--medium);
}
.hero-section picture img{
    width: 500px;
    margin-left: 250px;
}

/* SECTION 2 */
.section-2{
    height: 150vh;
}
.section-2 .h2-container{
    width: 400px;
    margin-left: 250px;
}
.cards-container{
    margin-right: 250px;
}
.section-2 .h2-container h2{
    font-size: var(--x-large);
}
.hero-section .h2-container p{
    font-size: var(--medium);
}

/* SECTION 3 */
.section-3 .s3-h2-section{
    width: 450px;
    margin-right: 250px;
}
.section-3 .s3-h2-section h2{
    font-size: var(--x-large);
}
.section-3 .s3-h2-section p{
    font-size: var(--medium);
}
.section-3 picture img{
    width: 350px;
    margin-left: 250px;
}

/* SECTION 4 */

.section-4 .s4-h2-container{
    width: 400px;
    margin-left: 250px;
}
.section-4 .s4-h2-container h2{
    font-size: var(--x-large);
}
.section-4 .s4-h2-container p{
    font-size: var(--medium);
}

/* SECTION 5 */

.section-5 .s5-h2-container{
    width: 400px;
    margin-right: 200px;
}
.section-5 .s5-h2-container h2{
    width: 100%;
    font-size: var(--large);
}
.section-5 .s5-h2-container p{
    font-size: var(--medium);
}
.section-5 picture img {
    width: 500px;
    margin-left: 200px;
}