body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root{
    --main-blue: #264dd0;
    --dark-blue: #314b6c;
    --light-blue: #747ba5;
    --x-large: 56px;
    --large: 28px;
    --medium: 20px;
    --small: 16px;
}

button{font-family: 'Outfit', sans-serif;}

header{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header a {
    text-decoration: none;
    font-weight: 900;
    font-size: var(--large);
}
header i {
    margin-left: 5px;
}
header i img{
    width: var(--medium);
}
header ul{
    display: none;
}
.primary-button{
    color: var(--light-blue);
    background: white;
    box-shadow: 3px 3px 0px 3px rgba(0,0,0,0.13);
    border: none;
    border-radius: 7px;
    height: 35px;
    font-weight: bold;
    font-size: small;
    width: 150px;
}



/* HERO SECTION */

.hero-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
}
.h1-container{
    width: 320px;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    gap: 20px;
    /* margin-top: 30px; */
}
.h1-container p{
    font-weight: lighter;
    color: var(--light-blue);
    font-weight: var(--small);
}
.hero-section h1{
    color: var(--dark-blue);
    font-size: var(--large);
}
.primary-button-blue{
    color: white;
    background: var(--main-blue);
    box-shadow: 10px 33px 33px -30px rgba(0,0,0,0.96);
    border: none;
    border-radius: 7px;
    height: 35px;
    font-weight: bold;
    font-size: small;
    width: 150px;
}
.hero-section picture{
    justify-self: flex-end;
    /* margin-top: 60px; */
}
.hero-section picture img{
    width: 300px;
}

/* SECTION 2 */

.section-2{
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cards-container{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    height: 530px;
}
.section-2 .cards-container .card h3{
    color: var(--dark-blue);
}
.section-2 .cards-container .card p{
    color: var(--light-blue);
    font-weight: lighter;
}
.section-2 .cards-container .card{
    width: 270px;
    height: 160px;
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.27);
    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.27);
    border-radius: 5px;
    padding: 20px;
}
.section-2 .cards-container .card img{
    width: 25px;
}
.right-card{
   margin-left: 60px;
}

.section-2 .h2-container{
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 20px;
}

.section-2 .h2-container h2{
    color: var(--dark-blue);
}
.section-2 .h2-container p{
    color: var(--light-blue);
    font-weight: lighter;
}
.main-button{
    color: var(--main-blue);
    background: rgb(241, 241, 252);
    border: none;
    border-radius: 7px;
    height: 35px;
    font-weight: bold;
    font-size: small;
    width: 150px;
}


/* SECTION 3 */

.section-3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-3 .s3-h2-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 320px;
}

.section-3 .s3-h2-section h2{
    color: var(--dark-blue);
}
.section-3 .s3-h2-section p{
    color: var(--light-blue);
    font-weight: lighter;
}
.section-3 picture img{
    width: 300px;
}

/*  SECTION 4*/


.section-4{
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: centers;
    align-items: center;
}
.section-4 .cards-container{
    display: flex;
    align-items: center;
}
.section-4 .cards-container .card{
    border-radius: 5px;
    box-shadow: 5px 0px 5px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 5px 0px 5px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 0px 5px 4px rgba(0,0,0,0.1);
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
}
.section-4 .cards-container .card .img-container{
    width: 80px;
    height: 80px;
    border: solid 7px peachpuff;
    border-radius: 50%;
    background-image: url('./img/facherisimo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-4 .cards-container .card p:nth-child(2){
    font-size: var(--medium);
    color: var(--dark-blue);
    font-weight: bold;
}
.section-4 .cards-container .card p:nth-child(3){
    color: var(--light-blue);
    margin-bottom: 15px;
}
.section-4 .cards-container .card p:nth-child(4){
    width: 200px;
}

.s4-h2-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 20px;
}
.s4-h2-container h2{
    color: var(--dark-blue);

}
.s4-h2-container p{
    color: var(--light-blue);
    font-weight: lighter;
}

/* SECTION 5 */
.section-5{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.s5-h2-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 30px;
}
.s5-h2-container h2{
    color: var(--dark-blue);
    width: 320px;
}
.s5-h2-container p{
    color: var(--light-blue);
    font-weight: lighter;
}
.section-5 picture img{
    width: 300px;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    /* border-top: solid 1px black; */
}
footer a{
    text-decoration: none;
    font-weight: 900;
    font-size: var(--large);
}
footer ul{
    display: none;
}
footer .links{
    display: flex;
    gap: 20px;
}
footer .links a img{
    width: 20px;
}
